.vs
Application/obj
Domain/obj
Infrastructure/obj
RequestCustom/bin
Tradesparq/bin
TradesparqAPI/bin
TradesparqAPI/obj
RequestCustom/obj
Tradesparq/obj
Api/obj
Api/bin
Application/bin
Domain/bin
Infrastructure/bin
