<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/_nlog-internal.log">

	<variable name="logDir" value="logs" />
	<targets>
		<!-- Console -->
		<target xsi:type="Console" name="console"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

		<!-- File rolling ngày, async -->
		<target xsi:type="AsyncWrapper" name="asyncFile">
			<target xsi:type="File" name="file"
					fileName="${logDir}/${shortdate}.log"
					archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="14"
					layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
		</target>
		
	</targets>

	<rules>
		<!-- EF Core & app logs ra console + file -->
		<logger name="*" minlevel="Info" writeTo="console,asyncFile" />

		<!-- Nếu muốn thấy câu SQL của EF Core (có thể ồn) -->
		<!-- <logger name="Microsoft.EntityFrameworkCore.*" minlevel="Debug" writeTo="console,asyncFile" /> -->
	</rules>
</nlog>