<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<variable name="logDir" value="${basedir}/logs" />
	<variable name="layout" value="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

	<targets>
		<!-- Console -->
		<target xsi:type="ColoredConsole" name="console" layout="${layout}"  useDefaultRowHighlightingRules="false" >
		</target>
		<!-- File rolling hằng ngày (bọc Async để không chặn request) -->
		<target xsi:type="AsyncWrapper" name="afile">
			<target xsi:type="File" name="file"
					fileName="${logDir}/${shortdate}.log"
					archiveFileName="${logDir}/archives/{#}.log"
					archiveNumbering="Rolling"
					maxArchiveFiles="14"
					keepFileOpen="false"
					layout="${layout}" />
		</target>
	</targets>

	<rules>
		<!-- Ghi mọi log >= Info ra cả console lẫn file -->
		<!--<logger name="*" minlevel="Info" writeTo="console,afile" />-->
		<logger name="Kitter" minlevel="Info" writeTo="console" />
	</rules>
</nlog>